.contenerdorGeneral{
display:flex;
flex-direction: row;
flex-wrap:wrap;
width:100%
}
.contenedor1{
        width:50%;
}
.contenedor2{
        width:50%;
}
footer{
    marginTop: 5%;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    width:100%;
    position:bottom;
    bottom: 0;
    height:125px
}
@media (max-width: 667px) {
    .contenedor1{
        width:100%;
    }
    .contenedor2{
        width:100%;
    }
    .icons{
        width: 100%;
        margin-top: 5%;
      }
}
